/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABILI */
:root {
    --ms-primary-color: #29b1dd;
    --ms-secondary-color: #ddd;
    --ms-white-color: #fff;
    --ms-black-color: #000;
}

/* Regole di DEBUG */


/* Regole CSS generali */
html{
    font-family: sans-serif;
}
body {
    background-color: var(--ms-secondary-color);
}
header {
    background-color: var(--ms-white-color);
    height: 70px;
}
header h1 {
    color: var(--ms-primary-color);
}
#header-main {
    background-color: var(--ms-primary-color);
    height: 50px;
    text-align: center;
    line-height: 50px;
}
#content {
    background-color: var(--ms-secondary-color);
}
.ms_box {
    height: 100px;
    width: 10% ;
    margin: 50px;
    background-color: var(--ms-white-color);
    border-radius: 15px;
    box-shadow: 1px 1px var(--ms-black-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ms_color {
    color: black;
}



/* MEDIA QUERY */
/* Breakpoint sm */
@media screen and (min-width: 576px) {
    
}

/* Breakpoint md */
@media screen and (min-width: 768px) {
    
}

/* Breakpoint lg */
@media screen and (min-width: 992px) {
    
}

/* Breakpoint xl */
@media screen and (min-width: 1200px) {
   
}

/* Breakpoint xxl */
@media screen and (min-width: 1400px) {
    
}
